/* body {
    display: flex;
} */

/* img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
    object-fit: cover;
    background-size: cover;
} */

/* .name {
    font-weight: bold;
} */

.moshCode_0 img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    /* margin-top: 30px;
    margin-left: 10px;
    margin: 30px 10px 0px; */
}

/* .moshCode_0 h1 {
    font-weight: bold;
} */

/* .moshCode_0 .heading {
    font-size: 35px;
} */

.moshCode_1 {
    height: 100px;
}

.moshCode_1 img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.moshCode_1 p.twitterProfile {
    font-weight: bold;
}

.moshCode_2 em {
    color: red;
    font-style: normal;
}

.moshCode_3 img {
    border: 1px solid #ff0000;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.moshCode_4 {
    height: 100px;
    font-family: sans-serif;
}

.moshCode_4 img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.moshCode_4_Para {
    font-weight: bold;
}

.moshCode_4_icons,
.moshCode_5_icons {
    display: flex;
    color: #808387;
    /* color: lightgray; */
}

.moshCode_4_icons p {
    margin-right: 25px;
    /* font-size: 14px; */
}

.moshCode_4_icons p i {
    margin-right: 10px;
    margin-top: -1px;
    font-size: 20px;
}

.moshCode_4_icons p span {
    font-size: 14px;
    vertical-align: top;
}

.moshCode_5 {
    width: 33%;
    height: 100px;
    font-family: sans-serif;
    background-color: white;
    margin: 0 auto;  /* margin: auto;*/
}

.moshCode_5 img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}

.moshCode_5_Span {
    font-weight: bold;
    position: relative;
    top: 4px;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.moshCode_5_Span_1 {
    display: inline-block;
    margin: 15px 0px;
    /* border: 1px solid red; */
}

.moshCode_5_icons div {
    padding: 10px 10px 5px 0px;
    /* margin: 10px; */
    /* border: 1px solid blue; */
}

.moshCode_5_icons div i {
    font-size: 18px;
}

.moshCode_5_icons div span {
    margin: 10px;
    font-size: 15px;
    vertical-align: top;
}

/* .moshCode_6 {
    display: flex;
    height: 98vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: sans-sarif;
    font-weight: bold;
} */

div .moshCode_6_div_1,
div .moshCode_6_div_2,
div .moshCode_6_div_3 {
    float: left;
    width: 32.5%;
    height: 88vh;
    border-right: 10px solid #fff;
    padding-top: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
}

.moshCode_6_div_1 {
    color: #fff;
    background-color: deepskyblue;
    /* width: 33%;
    padding-top: 80px;
    border-right: 10px solid #fff; */
}

.moshCode_6_div_2 {
    background-color: yellow;
    /* width: 33%;
    padding-top: 80px;
    border-right: 10px solid #fff; */
}

.moshCode_6_div_3 {
    color: #fff;
    background-color: deeppink;
    /* width: 33%;
    padding-top: 80px;
    border-right: 10px solid #fff; */
}