/* First project css changes - A tribute page */

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkseagreen;
}

a {
    color: crimson;
}

h1 {
    text-decoration: underline;
}

.introChapter {
    font-size: 18px;
    letter-spacing: 0.2em;              /* em is relative to parent element - here we have provided a font size as 18px so it will take as 0.2em = 0.2 * 18 = 3.6px */
    margin-bottom: 10px;
    font-weight: 600;
}

.container {
    border: 5px solid lightcoral;
    background-color: thistle;
    margin: 10px auto;
    padding: 10px 30px;
    line-height: 2rem;                  /* rem is relative to root element - that is HTML Tag default font size 16px - 2rem = 2 * 16 = 32px */   
    letter-spacing: 0.1rem;
    font-size: 14px;
    width: 50%;
    text-align: start;
}

hr {
    border-color: red;
}

.finalChapter {
    background: yellow;
    width:50%;
    margin:20px auto;
}