body {
    /* font-size: 16px; */
    /* font-size: 100%; */
    font-size: 1em;
    font-weight: 100;   /* font-weight can change from 100 to 300 or 600 - changes will vary accordingly to the value */
    /* width: 100%;
    height: 100%; */
    /* background-color: black; */
}

.transpareny_opacity {
    background-color: blue;
    border: 2px solid red;
    opacity: 0.5;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 48px; */
    /* font-size: 200%; */
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: tomato;
}

ol {
    font-style: italic;
}

li {
    /* font-size: 1.2em; */
    font-size: 1.2rem;
    font-weight: bold;
}

#normal {
    font-style: normal;
}

#uppercase {
    text-transform: uppercase;
}

#lowercase {
    text-transform: lowercase;
}

#capitalize {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

#important {
    text-decoration: underline;
}

#overline {
    text-decoration: overline;
}

#line-through {
    text-decoration: line-through;
}

#blink {
    text-decoration: blink;
}

#more-textdecoration {
    text-decoration: underline overline;
}

#leading {
    line-height: 1.7;
}

#left-item {
    text-align: left;
}

#right-item {
    text-align: right;
}

#center-item {
    text-align: center;
}

#justify-item {
    text-align: justify;
}

img {
    vertical-align: middle;
}

em {
    font-size: 2em;
    vertical-align: middle;
}

#letterWordSpacing {
    letter-spacing: 0.4em;   /* we can using different size units like EMs, CM, Pixels for both letter and word spacing */
    word-spacing: 50px;       /*  Percentage not accepting in both letter and word spacing */
}

#textIndent {
    text-indent: 50px;
}

#pseudoElementsFirstLetter::first-letter {
    font-size: 2em;
}

#pseudoElementsFirstLine::first-line {
    background-color: cornflowerblue;
}

.notice {
    color: crimson;
    font-size: 2em;
}

.warning {
    color: red;
    font-size: 2em;
}

.pseudoClass {
    color: blue;
}

.pseudoClass:link {
    color: aqua;
}

.pseudoClass:visited {
    color: darkgreen;
}

.pseudoClass:hover {
    color: lightsalmon;
}

.pseudoClass:active {
    color: red;
}

.pseudoClass:focus {
    color: maroon;
}

h4 {
    font-weight: normal;
    font-size: 1.5em;
}

#leftTextShadow {
    text-shadow: 4px 0 0 slateblue;
}

#rightTextShadow {
    text-shadow: -4px 0 0 slateblue;
}

#topTextShadow {
    text-shadow: 0 -4px 0 slateblue;
}

#bottomTextShadow {
    text-shadow: 0  4px 0 slateblue;
}

#shadowTextBlurring {
    text-shadow: 0 0 6px slateblue;
}

#shadowTextColor {
    text-shadow: 0 13px 0 red;
}

#entireTextShadow {
    text-shadow: 2px 3px 12px blue;
}

.block_level_element,
.inline_element {
    background-color: darkblue;
    color: gold
}

/* body {
    width: 1000px;
    background-color: grey;
} */

#wrapper {
    width: 95%;
    min-width: 450px;
    max-width: 1200px;
    background-color: grey;
    min-height: 100%;
    max-height: 125%;
}

.container {
    width: 95%;
    max-width: 1200px;
    background-color: goldenrod;
    height: 200%;
    /* overflow: hidden;   These values will also come visible, scroll, auto */
    overflow-x: hidden;
    overflow-y: hidden;
}

.border_property {
    width: 70%;
    /* border-width: 10px;
    border-style: solid;
    border-color: red; */
    /* border-width: medium thick 10px thin;
    border-style: dashed dotted groove ridge;
    border-color: blueviolet teal salmon sandybrown; */
    /* border-top: 5px solid blue;
    border-top-width: 5px;
    border-top-style: dashed;
    border-top-color: darkgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    /* border-right, border-bottom, bottom-right */
    border: 5px solid red;
}

.container_paddingMarin {
    width: 60%;
    border: 2px solid green;
    padding: 40px;
    margin: 0 auto;
}

.container_paddingMarin h3,
.container_paddingMarin p {
    border: 1px solid red;
    padding: 10px;
    margin: 20px;
}

.container_paddingMarin span {
    border: 1px solid red;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 100px;
}

#display_property {
    border: 5px solid hotpink;
}

#display_property a {
    color: black;
}

/* #display_property a:hover {
    background-color: red;
    color: white;
} */

#display_property ul {
    background-color: aqua;
    height: 50px;
    /* padding: 10px; */
}

#display_property li {
    list-style-type: none;
    /* background-color: darkslategray; */
    display: inline-block; /* display property values contain block, inline, inline-block */
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
}

#display_property li:hover {
    background-color: red;
    color: white;
}

#display_property #displayNone {
    display: none;
}

#display_property #visibilityHidden {
    visibility: hidden;
}

#boxShadow div {
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    margin: 20px auto;
    padding: 10px;
}

#topLeftBoxShadow {
    box-shadow: -5px -5px #666666;
    border-radius: 10px;
}

#bottomRightBoxShadow {
    box-shadow: 5px 5px 5px #666666;
    border-radius: 10px 0;
}

#bottomRightSpreadBoxShadow {
    box-shadow: 5px 5px 5px 10px #666666;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 20px;
}

#outerSpreadBoxShadow {
    box-shadow: 0 0 10px rgb(202, 202, 65);
    border-radius: 10px 13px 16px 19px;
}

#insetBoxShadow {
    box-shadow: inset 0 0 10px red;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
}

.backgroundProperty {
    width: 100%;
    height: 250px;
    /* background-color: chocolate;
    background-image: url("../assets/images/Red_Tshirt.svg");
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: scroll; */
    background: aqua url('../assets/images/decorative-wall.jpg') no-repeat center center scroll;
    background-size: contain;
}